<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FirstFilter</filter-name>
        <filter-class>longpnh.filter.FirstFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>longpnh.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FirstFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>longpnh.listener.MyContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>longpnh.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>longpnh.controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>longpnh.controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>longpnh.controller.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCookieServlet</servlet-name>
        <servlet-class>longpnh.controller.AddCookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartupServlet</servlet-name>
        <servlet-class>longpnh.controller.StartupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>longpnh.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookServlet</servlet-name>
        <servlet-class>longpnh.controller.SearchBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBookServlet</servlet-name>
        <servlet-class>longpnh.controller.RemoveBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>longpnh.controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>longpnh.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>longpnh.controller.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>longpnh.controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseHistoryServlet</servlet-name>
        <servlet-class>longpnh.controller.PurchaseHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>longpnh.controller.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBookServlet</servlet-name>
        <servlet-class>longpnh.controller.CreateBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCookieServlet</servlet-name>
        <url-pattern>/AddCookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartupServlet</servlet-name>
        <url-pattern>/StartupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookServlet</servlet-name>
        <url-pattern>/SearchBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookServlet</servlet-name>
        <url-pattern>/RemoveBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseHistoryServlet</servlet-name>
        <url-pattern>/PurchaseHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBookServlet</servlet-name>
        <url-pattern>/CreateBookServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/invaliidURL.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/internalServletErr.html</location>
    </error-page>
    <error-page>
        <exception-type>SQLException</exception-type>
        <location>/error.html</location>
    </error-page>
    <error-page>
        <exception-type>Exception</exception-type>
        <location>/error.html</location>
    </error-page>
    <resource-ref>
        <res-ref-name>DS007</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
